.footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0px;
    width: 100%;
    background-color: #fd9d1f;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
    font-size:  20px;
    color: rgb(5, 0, 0);
}
.footer2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fd9d1f;
    opacity: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  75px;
    color: rgb(5, 0, 0);
}

