.boton{
  position: absolute;
  cursor: pointer;
  background-color: #fd9d1f;
  top: 90%;
  height: 3%;
  left: 1270px;
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
.boton2{
  position: absolute;
  cursor: pointer;
  font-size: 120%;
  border-radius: 50px; 
  background-color: red;
  top: 75%;
  height: 9%;
  left: 1230px;
  width: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
