.Correo{
    font-family: Arial, Helvetica, sans-serif;
    z-index: 30;
    font-size:  30px;
    color: rgb(14, 2, 2);
    position: absolute;
    left: -220px;
    right: 0;
    top: 30%;
    margin-left: auto;
    margin-right: auto;

}
.Contraseña{
    font-family: Arial, Helvetica, sans-serif;
    z-index: 30;
    font-size:  30px;
    color: rgb(14, 2, 2);
    position: absolute;
    left: -360px;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}
.BotonInicio{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1em 1.5em;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    z-index: 30;
    font-size:  30px;
    border: 1px solid #fd9d1f; 
    color: rgb(14, 2, 2);
    border-radius: 50px; 
    position: absolute;
    left: 100px;
    right: 0;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
        border-color: #fd9d1f;
        box-shadow: 0 0 40px 40px #fd9d1f inset, 0 0 0 0 #fd9d1f;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }
      .BotonInicio:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
      }
label {
        display: list-item;
        padding-left: 15px;
        text-indent: -15px;
        cursor: text;
    }
     
input {
        text-align: center;
        left: 40px;
        width: 250px;
        height: 27px;
        padding: 2;
        margin:0;
        border-radius: 50px; 
        vertical-align: bottom;
        position: relative;
        top: 245px;
        overflow: hidden;
    }
      