.menu{
    padding: 0em 1.5em;
    font-size:  15px;
    border: 1px solid #030200; 
    color: rgb(14, 2, 2);
    border-radius: 50px; 
    position: absolute;
    left: 1200px;
    top: 20%;
    width: 150px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
        border-color: #0a0600;
        box-shadow: 0 0 40px 40px #fd9d1f inset, 0 0 0 0 #faf8f6;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }
      .menu:hover {
        box-shadow: 0 0 10px 0 #f8f9fa inset, 0 0 10px 4px #f1f4f7;
      }